<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portafolio | Keyber Mendoza Desarrollador Web">
    <meta name="robots" content="index,follow">

    <title>  <%=name%> | <%=ocupation%></title>

    <!-- Librerías -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Hojas de estilo -->
    <link rel="stylesheet" href="./stylesheets/loader.css">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link rel="stylesheet" href="./stylesheets/tablet.css" media="screen and (min-width: 760px)">
    <link rel="stylesheet" href="./stylesheets/desktop.css" media="screen and (min-width: 980px)">

    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/ae0fd6f99f.js" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
</head>

<body>
    <div class="container--loader">
        <div class="loader"></div>
    </div>

    <header class="header">

        <nav class="nav_menu not-active">
            <a href="#home">Home</a>
            <a href="#sobreMi" data-section="menu" data-value="item2">Sobre mí</a>
            <a href="#habilidades" data-section="menu" data-value="item3">Habilidades</a>
            <a href="#formacion" data-section="menu" data-value="item4">Formación</a>
            <a href="#contacto" data-section="menu" data-value="item6">Contacto</a>
        </nav>

    </header>

    <main>
        <!-- Home -->
        <section class="home" id="home">
            <picture class="container_image-home" data-aos="zoom-in">
            <div class="barrass">
                <img src="./images/puntos.png" alt="Decoración puntos" class="barrass">
            </div>
            <div class="barras2">    
                <img src="./images/puntos.png" alt="Decoración puntos" class="barras2">
            </div>
            
                <img class="image_home" src="./images/yo.png" alt="imagen principal">
            </picture>
            
            <div class="home_info">
                <div class="container_text-info">
                    <p class="home_text-1" data-section="home" data-value="home_text-1">Hola! Soy</p>
                    <p class="home_text-2"> <%=name%></p>
                </div>

                <div>
                    <p class="home_text-3 text-type" data-section="home" data-value="home_text-3"><%=ocupation%></p>
                </div>

                <div class="container_parrafo-info">
                    <p data-section="home" data-value="parrafo-info">Soy estudiante en programación enfocado al Desarrollo Web Frontend. Como persona amante a los diseños intuitivos y estéticamente agradables busco crear proyectos que brinden la mejor experiencia para el usuario.</p>
                </div>

                <div class="container_button">
                    <a href="#" target="_blank">
                        <button class="cv_button" data-section="home" data-value="cv_button">Descargar CV</button>
                    </a>
                    <a href="#contacto">
                        <button class="contact_button" data-section="home" data-value="contact_button">Contacto</button>
                    </a>
                </div>
            </div>

            <div class="links">
                <a href="https://github.com/KeyberIT" target="_blank">
                    <img src="./images/icon-github.png" alt="GitHub" class="icon-github">
                </a>
                <a href="https://www.instagram.com/keyber62/" target="_blank">
                    <img src="./images/icon-instagram.png" alt="Instagram" class="icon-instagram">
                </a>
            </div>
        </section>

        <!-- Sobre mí -->
        <section class="sobreMi" id="sobreMi">
            <h1 data-section="sobre-mi" data-value="title" data-aos="fade-up">Sobre mí</h1>

            <div class="container_content-sobreMi" data-aos="fade-right">
                <div class="container_texto-sobreMi">
                    <span class="title_sobreMi"><%=name%></span>
                    <span class="texto_sobreMi" data-section="sobre-mi" data-value="texto_sobreMi"><%=description%></span>
                </div>
    
                <picture class="container_image-sobreMi">
                    <img class="image_sobreMi" src="./images/3d.png" alt="3d-animation">
                </picture>
            </div>
        </section>

        <!-- Habilidades -->
        <section class="habilidades" id="habilidades">
            <h1 data-section="habilidades" data-value="title" data-aos="fade-up">Habilidades</h1>

            <img src="./images/puntos.png" alt="Decoración puntos" class="puntos1-habilidades">
            <img src="./images/puntos.png" alt="Decoración puntos" class="puntos2-habilidades">

            <div class="cards_container--habilidades">
                <div class="cards--habilidades" data-aos="fade-up" data-aos-duration="500">
                    <img src="./images/icon-html.png" alt="HTML">
                    <p>HTML 5</p>
                </div>
                
                <div class="cards--habilidades" data-aos="fade-up" data-aos-duration="700">
                    <img src="./images/icon-css.png" alt="CSS">
                    <p>CSS 3</p>
                </div>

                <div class="cards--habilidades" data-aos="fade-up" data-aos-duration="900">
                    <img src="./images/icon-js.png" alt="JavaScript">
                    <p>JavaScript</p>
                </div>

                <div class="cards--habilidades" data-aos="fade-up" data-aos-duration="1100">
                    <img src="./images/icon-Notion.png" alt="Notion">
                    <p>Notion</p>
                </div>
        </section>

        <!-- Proyectos -->
        <section class="proyectos" id="proyectos">
            <h1 data-section="proyectos" data-value="title" data-aos="fade-up">Mis Proyectos</h1>
            <div class="cards_container--proyectos">
                <!-- Proyecto 1 -->

                <div class="card--proyecto" data-aos="fade-up" data-aos-duration="900">
                    <div class="card--proyecto-img">
                        <img src="./images/ferreteria.jpg" alt="Proyecto Web">
                        <div class="card--proyecto-overlay">
                            <a href="#" class="btn-visitar">Ver Proyecto</a>
                        </div>
                    </div>
                        <div class="card--proyecto-content">
                            <h3>Portal Educativo</h3>
                            <p>Plataforma de aprendizaje en línea con cursos interactivos.</p>
                            <div class="tecnologias">
                                <span>React</span>
                                <span>Node.js</span>
                                <span>MongoDB</span>
                                <span>Express</span>
                        </div>
                    </div>
                </div>

            
                
                <!-- Proyecto 2 -->
                <div class="card--proyecto" data-aos="fade-up" data-aos-duration="700">
                    <div class="card--proyecto-img">
                        <img src="./images/starup.jpg" alt="Proyecto Startup">
                        <div class="card--proyecto-overlay">
                            <a href="#" class="btn-visitar">Ver Proyecto</a>
                        </div>
                    </div>
                    <div class="card--proyecto-content">
                        <h3>Plataforma Startup</h3>
                        <p>Landing page moderna para emprendedores y startups.</p>
                        <div class="tecnologias">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JavaScript</span>
                            <span>Bootstrap</span>
                        </div>
                    </div>
                </div>

                <!-- Proyecto 3 -->
               
                <div class="card--proyecto" data-aos="fade-up" data-aos-duration="900">
                    <div class="card--proyecto-img">
                        <img src="./images/portafolio_1.jpg" alt="Proyecto Web">
                        <div class="card--proyecto-overlay">
                            <a href="#" class="btn-visitar">Ver Proyecto</a>
                        </div>
                    </div>
                        <div class="card--proyecto-content">
                            <h3>Portal Educativo</h3>
                            <p>Plataforma de aprendizaje en línea con cursos interactivos.</p>
                            <div class="tecnologias">
                                <span>React</span>
                                <span>Node.js</span>
                                <span>MongoDB</span>
                                <span>Express</span>
                        </div>
                    </div>
                </div>

                <!-- Proyecto 4 -->
                <div class="card--proyecto" data-aos="fade-up" data-aos-duration="500">
                    <div class="card--proyecto-img">
                        <img src="./images/Restaurantek.jpg" alt="Sistema de Restaurante">
                        <div class="card--proyecto-overlay">
                            <a href="#" class="btn-visitar">Ver Proyecto</a>
                        </div>
                    </div>
                    <div class="card--proyecto-content">
                        <h3>Sistema de Restaurante</h3>
                        <p>Plataforma web completa para gestión de pedidos y menú de restaurante.</p>
                        <div class="tecnologias">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JavaScript</span>
                            <span>Node.js</span>
                        </div>
                    </div>
                </div>


                <!-- Proyecto 5 -->

                <div class="card--proyecto" data-aos="fade-up" data-aos-duration="900">
                    <div class="card--proyecto-img">
                        <img src="./images/pagina Frontend.jpg" alt="Proyecto Web">
                        <div class="card--proyecto-overlay">
                            <a href="#" class="btn-visitar">Ver Proyecto</a>
                        </div>
                    </div>
                        <div class="card--proyecto-content">
                            <h3></h3>
                            <p>Plataforma de aprendizaje en línea con cursos interactivos.</p>
                            <div class="tecnologias">
                                <span>React</span>
                                <span>Node.js</span>
                                <span>MongoDB</span>
                                <span>Express</span>
                        </div>
                    </div>
                </div>



                <!-- Proyecto 6 -->
                <div class="card--proyecto" data-aos="fade-up" data-aos-duration="900">
                    <div class="card--proyecto-img">
                        <img src="./images/login and register.jpg" alt="Proyecto Web">
                        <div class="card--proyecto-overlay">
                            <a href="#" class="btn-visitar">Ver Proyecto</a>
                        </div>
                    </div>
                        <div class="card--proyecto-content">
                            <h3>Portal Educativo</h3>
                            <p>Plataforma de aprendizaje en línea con cursos interactivos.</p>
                            <div class="tecnologias">
                                <span>React</span>
                                <span>Node.js</span>
                                <span>MongoDB</span>
                                <span>Express</span>
                        </div>
                    </div>
                </div>

                <!-- Proyecto 7 -->
                <div class="card--proyecto" data-aos="fade-up" data-aos-duration="900">
                    <div class="card--proyecto-img">
                        <img src="./images/layout.jpg" alt="Proyecto Web">
                        <div class="card--proyecto-overlay">
                            <a href="#" class="btn-visitar">Ver Proyecto</a>
                        </div>
                    </div>
                        <div class="card--proyecto-content">
                            <h3>Portal Educativo</h3>
                            <p>Plataforma de aprendizaje en línea con cursos interactivos.</p>
                            <div class="tecnologias">
                                <span>React</span>
                                <span>Node.js</span>
                                <span>MongoDB</span>
                                <span>Express</span>
                        </div>
                    </div>
                </div>

                <!-- Proyecto 8 -->
                    <div class="card--proyecto" data-aos="fade-up" data-aos-duration="900">
                    <div class="card--proyecto-img">
                        <img src="./images/analizador java.jpg" alt="Proyecto Web">
                        <div class="card--proyecto-overlay">
                            <a href="#" class="btn-visitar">Ver Proyecto</a>
                        </div>
                    </div>
                        <div class="card--proyecto-content">
                            <h3>Portal Educativo</h3>
                            <p>Plataforma de aprendizaje en línea con cursos interactivos.</p>
                            <div class="tecnologias">
                                <span>React</span>
                                <span>Node.js</span>
                                <span>MongoDB</span>
                                <span>Express</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
            
        
    <footer>
        <%- include('./components/contacto.ejs') %>
        
        <%- include('./components/contacto.ejs') %>
        
    <!-- Archivo Js -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Librería de animaciones -->
    <script>
        AOS.init();
    </script>

    <!-- Mi script -->
    <script src="./javascripts/script.js"></script>
</body>


</html>